# Python cache
__pycache__/
*.pyc
.pytest_cache
.mypy_cache
.cache

# Virtual environment
venv/
**/venv/

# Coverage report
.coverage
**/.coverage
.coveragerc
_coverage

# Build results
dist/
**/dist/
build/
**/build
*.egg-info/
**/*.egg-info/
.eggs/
**/.eggs/

# Test results
results/
**/results/

# Benchmark
.benchmark/
profile.pstat

# IDE
.idea/
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

# env vars
.env

# dependency tree
deptree.txt
